:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --thought-padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  margin: 20px auto;
  padding: 5px 35px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.post-thought {
  background-color: #ebebeb;
  border: 1px solid rgb(105, 105, 105);
  margin: 0;
  padding: 5px 35px 15px 35px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
  width: 90%;
}

h1 {
  margin-bottom: 15px;
  white-space: nowrap;
}

.post-thought .text-area {
  width: 100%;
}

textarea {
  width: 100%;
  font-size: 18px;
}

.post-thought button {
  background-color: #ffb7d2;
  border-radius: 25px;
  padding: 5px 10px;
  margin: 0 0 5px;
  border: none;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.post-wrapper button:hover {
  background-color: rgb(255, 199, 220);
}

.post-thought-count {
  width: 100%;
  color: rgb(97, 97, 97);
  text-align: right;
}

.thought-heart-time-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-top: 20px;
}

.thought-time {
  color: rgb(120, 120, 120);
}

.hearted-count-emoji {
  display: inline-block;
  animation: pulse-big 2s infinite;
}

.thought-hearts button {
  font-size: 24px;
  background-color: #d1d1d1;
  padding: 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  animation: pulse-small 2s infinite;
}

.thought-hearts button:hover {
  background-color: rgb(255, 199, 220);
}

.thought-hearts-liked button,
.thought-hearts-liked button:hover {
  background-color: #ee8bb4;
  cursor: default;
  /* -webkit-appearance: none; */
}

.post-thought-count-red {
  width: 100%;
  color: red;
  text-align: right;
}

.thought-wrapper {
  width: 100%;
  /* text-align: center; */
  /* flex-direction: column;
  gap: 25px; */
}

.thought {
  border: 1px solid;
  padding: 20px;
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
  transform-origin: 50% 0;
  animation: append-animate 0.3s linear;
  overflow-wrap: break-word;
}

@keyframes pulse-small {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}

@keyframes pulse-big {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}

@keyframes append-animate {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}

@media (min-width: 675px) {
  .main {
    width: 60%;
  }
  .post-thought {
    width: 70%;
  }
  .thought-wrapper {
    width: 70%;
  }
  .message {
    width: 100%;
  }
  h1 {
    font-size: 45px;
  }
}
